.Container-title {
  text-transform: lowercase;  
  font-size: 2em;
  font-family: Gameshow, sans-serif;
}

.Container-container {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}