@font-face {
  font-family: Gameshow;
  src: url(Gameshow.ttf);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #000;
  color: #fff
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.button {
  width: 40vmin;
  background-color: #666;
  color: #fff;
  margin-bottom: 1vmin;
  cursor: pointer;
  font-size: 1em;
}

.button:hover {
  background-color: #AAA
}

.button-small {
  width: 5vmin;
  background-color: #666;
  color: #fff;
}

.common-input {
  height: 5vmin;
  border: solid 1px #333;
  border-radius: 10px;
}