.Segment-holder {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2%;
  height: 2%;
  transform: translate(-50%, -50%);
  border-radius: 100%;
  background-color: #fff;
  border: solid;
}

.Segment-outer {
  height: 2500%;
  width: 2500%; 
  overflow: hidden;
  transform-origin: bottom right;
  position: absolute;
  top: -2450%;
  left: -2450%;  
}
	
.Segment-inner {
  height: 100%;
  width: 100%;
  border-radius: 100% 0 0 0;
  transform-origin: bottom right;
  user-select: none;
}

.Segment-text {
  position: absolute;
  bottom: 0;
  padding-left: 10%;
  padding-bottom: 5%;
}