/* Overall Circle Container */

.Spinwheel-clicker {
  height: 1px;
  width: 1px;
  position: absolute;
  top: 9.5%;
  left: 50%;
  transform: translate(-50%, 0);
  border-top: 2vw solid #000;
  border-left: 1vw solid transparent;
  border-right: 1vw solid transparent;
  z-index: 1000;
}

.Spinwheel-container {
  position: relative;
  height: 50vw;
  width: 50vw;
  margin: 0 0;
  overflow: hidden;
}

.Spinwheel-holder {
  width: 80%;
  height: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transform-origin: center;
  transition: transform 10s;
  overflow: hidden;
}

